<% if(isAuthenticated) { %>
<form action="/cart" method="post">
    <button class="btn" type="submit">Add to Cart</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
    <input type="hidden" name='_csrf' value="<%= csrfToken %>">
</form>
<% } %>