<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some Error Occured !!! </h1>
    <p>We are sorry for this incovenience, but it will fix soon !!!</p>

<%- include('includes/end.ejs') %>