<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <h1><%= p.productId.title %></h1>
                            <h2>Quantity: <%= p.quantity %></h2>
                        </li>
                    <% }) %>
                </ul>
                <div class="centered">
                    <h2>Total Price: $<%= totalPrice %></h2>
                </div>
                <div class="centered">
                <form action="/create-order" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key = "pk_test_51IHTiYFbNK0FAK8NWgCcd30WnhzC02DXDiPpXZWLTvIr6mUCAUWOlS2OUG7FhAxGFqWxSp9m62Q5SunzKKnPyHnf00S5nj6QKE"
                data-amount = "<%= totalPrice * 100 %>"
                data-name = "Your Order"
                data-description = "All the items you ordered"
                data-image = "https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale = "auto"
                data-currency = "usd">
                </script>
                </form>
            </div>
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>